<div id="index-banner" class="parallax-container valign-wrapper" style="height: 550px;">
  <div class="section no-pad-bot">
    <div class="container ">

      <h1 class="thin center-align " style="font-size:70px;text-shadow: 0px 0px 7px #000;">Blog do NodeJS</h1>
      <div class="row center valign">
        <a href="/posts" class="waves-effect waves-yellow indigo darken-1 btn">Artigos</a>
        <a href="/users" class="waves-effect waves-purple blue btn">Usuários</a>

      </div>
    </div>
  </div>
  <div class="parallax"><img src="/images/background.jpg" alt="Background image"></div>
</div>
