<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">

      <h1 class="header center blue-text text-darken-1">Blog example</h1>
      <div class="row center">
        <h5 class="header col s12 dark">Made in NodeJs</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/images/background.jpg" alt="Background image"></div>
</div>
