<footer class="page-footer indigo">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <h5 class="white-text">Sobre o projeto</h5>
        <p class="grey-text text-lighten-4">
          Este projeto visa apresentar um web site do estilo blog desenvolvido
          exclusivamente com ferramentas baseadas em NodeJS. Dentre elas,
          destacam-se: express 4, MongoDB (mongoose), passport (autenticação
          via facebook), Nunjucks e git (github).
        </p>


      </div>


    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by João Rubens Marchete Filho
    </div>
  </div>
</footer>
