<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">NodeJS Blog</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/posts/create">Novo</a></li>
      <li><a href="/posts">Artigos</a></li>
      <li><a href="/users">Usuarios</a></li>
      <li><a href="#modal1">Login</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/posts/create">Novo</a></li>
      
      <li><a href="/posts">Artigos</a></li>
      <li><a href="/users">Usuarios</a></li>
      <li><a href="#modal1">Login</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Fazer Login</h4>
      <p class="center-align">  <a href="" class="btn indigo darken-1">
          <svg style="width:24px;height:24px;top: 6px; position: relative; right: 5px;" viewBox="0 0 24 24">
      <path fill="#ffffff" d="M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" />
      </svg>
  Facebook</a></p>

    </div>

  </div>
